body {
  background-color: lightblue;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  font-size: 35px;
}

a {
  color: darkred;
}

li a {
  color: darkblue;
}

table,
th,
td {
  background-color: white;
  border: 1px solid;
  border-collapse: collapse;
}

th {
  background-color: lightgrey;
}

td {
  padding: 0.5rem;
}

#paragraph2 {
  background-color: white;
  line-height: 1.75;
  padding: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  border-style: solid;
  border-color: green;
  border-width: 4px;
  max-width: 55rem;
  margin-left: 20px;
}

.blue {
  background-color: darkblue;
  color: white;
  padding: 1rem;
}
